@import "../../../scss/variables.scss";

.navbar {
    background: $primary-color;
    color: $primary-color-text;
    padding: 5px;
}
.navbar a.router-link-active {
  color: $accent-color;
}

.navbar md-icon {
    font-size: 20px;
}
