@import "../scss/theme.scss";

$primary-color-dark:    mat-color(map-get($pkp-theme, primary), 700);
$primary-color-light:   mat-color(map-get($pkp-theme, primary), 200);
$primary-color:         mat-color(map-get($pkp-theme, primary));
$accent-color:          mat-color(map-get($pkp-theme, accent));
$primary-color-text:    #FFFFFF;
$primary-text-color:    #212121;
$secondary-text-color:  #757575;
$divider-color:         #BDBDBD;
