@import "../scss/fonts.scss";

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin content-text-style($family: $font-family, $size: 18px) {
    font-family: $family;
    font-size: $size;
    font-style: normal;
    font-weight: normal;
    hyphens: manual;
    letter-spacing: -0.072px;
    line-height: 28.44px;
    word-break: break-word;
    word-wrap: break-word;
}
