<md-tab-group class="background" selectedIndex=2>
    <md-tab>
          <ng-template md-tab-label>
                <span><md-icon>work</md-icon> WORK</span>
          </ng-template>
          <h1>Best pasta restaurants</h1>
          <p>...</p>
    </md-tab>
    <md-tab>
        <ng-template md-tab-label>
            <span><md-icon>school</md-icon> STUDY</span>
        </ng-template>
        <h1>Best pasta restaurants</h1>
        <p>...</p>
    </md-tab>
    <md-tab>
          <ng-template md-tab-label>
                <span><md-icon>import_contacts</md-icon> PAPERS</span>
          </ng-template>
          <h1>Best pasta restaurants</h1>
          <p>...</p>
    </md-tab>
</md-tab-group>
