@import "../../../scss/variables.scss";

.toolbar-io {
    background-color: $primary-color-dark;
    padding: 4px;
    margin: 8px;
    font-size: 14px;
    font-weight: 600;
    @include border-radius(6px);
}
